[submodule "meta-adlnx"]
	path = meta-adlnx
	url = https://github.com/adps/meta-adlnx.git
	branch = admvpx39z2
[submodule "meta-admvpx39z"]
	path = meta-admvpx39z
	url = https://github.com/adps/meta-admvpx39z.git
[submodule "fsbl-vivado_admvpx39z2"]
	path = fsbl-vivado_admvpx39z2
	url = https://github.com/adps/fsbl-vivado_admvpx39z2.git
[submodule "u-boot-ad-zynqmp"]
	path = u-boot-ad-zynqmp
	url = https://github.com/adps/u-boot-ad-zynqmp.git
